<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat"
    rel="stylesheet">
</head>
<body>

    <header class="site-headers">
        <nav>
            <div class="logo"> 
                <h1>CareerBuzz</h1>
            </div>
            <!---<div class="menu">
                <ul>
                    <li>Login</li>
                    <li>Register</li>
                </ul>
            </div>--->
        </nav>
        <section>
            <div class="leftside"> 
                <img src="img/img1.png">
            </div>
            <div class="rightside"> 
                <h1>CareerBuzz</h1>
                <p>An IRC style chat for aspirants of different competitive examination.</p>
                <button onclick="location.href = '/login';">Login</button>
                <button onclick="location.href = '/register';">Register</button>
            </div>
        </section>
    </header>
</body>
</html>

