* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../img/background_1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.main-body {
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inner-body {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
    width: 150px;
    height: 150px;
}

.select_class {
    height: 40px;
    width: 100%;
    background-color: #e9e9e9;
    padding-left: 5px;
}

.text-input {
    height: 40px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
    border: 1px solid rgb(179, 179, 179);
}

.button {
    font-size: 15px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 2px;
    border: 0px solid;
    background-color: blue;
    color: white;
    width: 100%;
    cursor: pointer;
    transition: 0.8s;
}

.button:hover {
    background-color: #ff1f5a;
    transition: 0.5s;
}

#redirect_register {
    padding-top: 10px;
    padding-bottom: 5px;
}
